<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.magellium.rental.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.magellium.rental.rcp.application"
            name="Rental">
         <property
               name="appName"
               value="Rental">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="TestCommand"
            id="fr.home.test.Command"
            name="Test Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="Addition"
               label="Test Command">
            <command
                  commandId="fr.home.test.Command"
                  icon="icons/eclipse128.png"
                  label="Test Command"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
