<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="palette" name="palette" schema="schema/palette.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.magellium.rental.ui.category"
            name="Rental">
      </category>
      <view
            category="com.magellium.rental.ui.category"
            class="com.magellium.rental.ui.views.RentalDataView"
            id="com.magellium.rental.ui.view"
            name="Rental Property View"
            restorable="true">
      </view>
      <view
            category="com.magellium.rental.ui.category"
            class="com.magellium.rental.ui.views.RentalDataTreeView"
            id="com.magellium.rental.ui.view1"
            name="Rental Tree"
            restorable="true">
      </view>
      <view
            category="com.magellium.rental.ui.category"
            class="com.magellium.rental.ui.views.CustomerPropertyView"
            id="com.magellium.rental.ui.customerProperty"
            name="Customer Property"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.magellium.rental.ui.perspectives.RentalPerspective"
            id="com.magellium.rental.ui.perspectives.RentalPerspective"
            name="Rental">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.magellium.rental.ui.preferences.rentalpreferences"
            class="com.magellium.rental.ui.preferences.DefaultRentalPreferences"
            id="com.magellium.rental.ui.rental.preference"
            name="Default Rental Preferences">
      </page>
      <page
            class="com.magellium.rental.ui.preferences.RentalPreferences"
            id="com.magellium.rental.ui.preferences.rentalpreferences"
            name="Rental Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.magellium.rental.ui.preferences.RentalDefaultValuesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.magellium.rental.ui.rental.helloworldcommand"
            name="Hello World">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.magellium.rental.ui.handler.HelloWorldHandler"
            commandId="com.magellium.rental.ui.rental.helloworldcommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <command
               commandId="com.magellium.rental.ui.rental.helloworldcommand"
               label="Hello World"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <command
               commandId="com.magellium.rental.ui.rental.helloworldcommand"
               label="Hello World"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.magellium.rental.ui.view1?after=additions">
         <command
               commandId="com.magellium.rental.ui.rental.helloworldcommand"
               label="Hello World"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="com.magellium.rental.ui.palette">
      <palette
            id="com.magellium.rental.ui.defaultPalette"
            name="Default"
            paletteClass="com.magellium.rental.ui.palette.DefaultPalette">
      </palette>
      <palette
            id="com.magellium.rental.ui.palette2"
            name="Moche"
            paletteClass="com.magellium.rental.ui.palette.MochePalette">
      </palette>
   </extension>

</plugin>
