<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension-point id="palette" name="palette" schema="schema/palette.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Rental"
            id="com.magellium.rental.ui.category">
      </category>
      <view
            name="Rental Property View"
            category="com.magellium.rental.ui.category"
            class="com.magellium.rental.ui.views.RentalDataView"
            restorable="true"
            id="com.magellium.rental.ui.view">
      </view>
      <view
            name="Rental Tree"
            category="com.magellium.rental.ui.category"
            class="com.magellium.rental.ui.views.RentalDataTreeView"
            restorable="true"
            id="com.magellium.rental.ui.view1">
      </view>
      <view
            name="Customer Property"
            category="com.magellium.rental.ui.category"
            class="com.magellium.rental.ui.views.CustomerPropertyView"
            restorable="true"
            id="com.magellium.rental.ui.customerProperty">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Rental"
            class="com.magellium.rental.ui.perspectives.RentalPerspective"
            id="com.magellium.rental.ui.perspectives.RentalPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Default Rental Preferences"
            category="com.magellium.rental.ui.preferences.rentalpreferences"
            class="com.magellium.rental.ui.preferences.DefaultRentalPreferences"
            id="com.magellium.rental.ui.rental.preference">
      </page>
      <page
            name="Rental Preferences"
            class="com.magellium.rental.ui.preferences.RentalPreferences"
            id="com.magellium.rental.ui.preferences.rentalpreferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.magellium.rental.ui.preferences.RentalDefaultValuesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Hello World"
            id="com.magellium.rental.ui.rental.helloworldcommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.magellium.rental.ui.rental.helloworldcommand"
            class="com.magellium.rental.ui.handler.HelloWorldHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <command
               commandId="com.magellium.rental.ui.rental.helloworldcommand"
               label="Hello World"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <command
               commandId="com.magellium.rental.ui.rental.helloworldcommand"
               label="Hello World"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.magellium.rental.ui.view1?after=additions">
         <command
               commandId="com.magellium.rental.ui.rental.helloworldcommand"
               label="Hello World"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="com.magellium.rental.ui.palette">
      <palette
            paletteClass="com.magellium.rental.ui.palette.DefaultPalette"
            name="Default"
            id="com.magellium.rental.ui.defaultPalette">
      </palette>
      <palette
            paletteClass="com.magellium.rental.ui.palette.MochePalette"
            name="Moche"
            id="com.magellium.rental.ui.palette2">
      </palette>
   </extension>
   <extension
         id="com.magellium.rental.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
